
<tr>
  <td> <%= image_tag('no-image.png', alt: show_item.name, class: "cart-img") %> </td>
  <td> <%= show_item.name %> </td>
  <td> <%= show_item.price %> 円</td>
  <td> <%= show_item.quantity %></td>
</tr>
  
