<table class="table">
  <thead>
    <tr>
      <th><%# 商品画像 %></th> <th><%# 商品名 %></th> <th>価格</th> <th>個数</th>
    </tr>
  </thead>
  <tbody>
    <%#= @cart.line_items.inspect %>
    <% @cart_items.each do |show_item| %>
      <%#= form_for(show_item, html: {controller: :line_items, action: :edit}) do |f| %>
        <%#= f.text_field :quantity %>
        <%#= f.submit %>
      <%# end %>
      <div id='show-item-<%= show_item.id %>'>
        <%= render 'item', show_item: show_item %>
      </div>
          
    <% end %>
</table>
<%# 購入ボタン %>
<%= button_to("購入確認", new_sale_path, class: "btn btn-primary") %>
