<% if logged_in? %>
  <div class="row">
    <h1>何か買ってく？</h1>
    <%= render 'share/items', items: @items %>
    
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>ようこそ!!</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
