<h1>購入履歴</h1>

<div class="box history_contents">
  <div class="history_count">
    <p class="count_number">
      <span class="number"><%= @sales.count %></span>
      <span class="count_suffix">件</span>
    </p>
  </div>
  
  <% @sales.each do |s| %>
    <%= render 'sales/sales_item_table', s: s %>
  <% end %>
  
  
</div>


<%= debug @sales if Rails.env.development? %>